<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gettext('home_title') }}</title>
</head>
<header><h1>{{ _('home_header') }}</h1></header>
<body>
    {% if g.user %}<p>{{ _('logged_in_msg') }} {{ g.user.name }}.</p>
    {% else %}<p>{{ _('logged_out_msg') }}</p>
    {% endif %}
    <p>{{ _(('current_time_is'), current_time=now) }}</p>
</body>
</html>
